body {
    background-color: #272138;
}

@import url(https://db.onlinewebfonts.com/c/b12cce617218fe8bfa367def9a61af72?family=Aloja+Extended);

h1 {
    color: #5170fb;
    font-family: "Aloja Extended", sans-serif;
}

h2,
p {
    color: snow
}